<footer class="site-footer">

  <div class="wrapper">

    <div class="site-description">
      <p>
        <span class="version">
          {% fdroid_repo_info %}, store-website <a href="https://gitlab.com/kalilinux/nethunter/store/nethunter-store-website/tree/{% git_hash %}">{% git_tag %}</a>
        </span>
      </p>
    </div>
  </div>

</footer>
